# 外部服务配置
[BASE]
PORT=9100
# 最大连接数
MAXCLIENT=10000
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=2
# 单核每秒处理请求数目
MAXQUERYPERCOPY=100
# 单个请求超时时间(秒)
TIMEOUT=5
# 统计信息输出时间间隔(秒)
STATETIME=300

# 日志配置
[LOG]
# 日志级别(0-5, 0:关闭, 5:全开)
LOGLEVEL=4
# 日志路径
LOGDIR=./log
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=0

# mysql数据库配置
# Email库
[DB_EMAIL]
# ip
DBHOST=192.168.8.177
# 端口
DBPORT=3306
# 用户名
DBUSER=dbu_email
# 密码
DBPASS=&3u*98043u(ier
# 数据库名字
DBNAME=mysqldb_email
# 连接池数目
MAXDATABASETHREAD=1

# 男士库
[DB]
# ip
DBHOST=192.168.8.177
# 端口
DBPORT=3306
# 用户名
DBUSER=dbu_memberdb
# 密码
DBPASS=w!3k9i3s
# 数据库名字
DBNAME=mysqldb_memberdb
# 连接池数目
MAXDATABASETHREAD=1
# 男士表同步时间(分钟)
SYNCTIME=30
# 女士库数目(最多4个)
DB_COUNT=4

# 女士库格式[DB_<Number>]
# CL
[DB_0]
# ip
DBHOST=192.168.8.177
# 端口
DBPORT=3306
# 用户名
DBUSER=dbu_chnlove
# 密码
DBPASS=2nih@wf$6i
# 数据库名字
DBNAME=mysqldb_chnlove
# 连接池数目
MAXDATABASETHREAD=1
# 站点Id
SITEID=0
# 允许发送的女士分值, 大于等于才能发送
OVERVALUE=0
# 会员库对应表名后缀
DBPOSTFIX=cl

# IDA
[DB_1]
# 女士库ip
DBHOST=192.168.8.177
# 女士库端口
DBPORT=3306
# 女士库用户名
DBUSER=dbu_thaimatches
# 女士库密码
DBPASS=aKe63mDH4
# 女士库数据名字
DBNAME=mysqldb_thaimatches
# 女士库连接池数目
MAXDATABASETHREAD=1
# 站点Id
SITEID=1
# 允许发送的女士分值, 大于等于才能发送
OVERVALUE=0
# 会员库对应表名后缀
DBPOSTFIX=th

# CD
[DB_2]
# 女士库ip
DBHOST=192.168.8.177
# 女士库端口
DBPORT=3306
# 女士库用户名
DBUSER=ru_dbu_asiamatch
# 女士库密码
DBPASS=02jrdfah0sdf87
# 女士库数据名字
DBNAME=rudatematch_website
# 女士库连接池数目
MAXDATABASETHREAD=1
# 站点Id
SITEID=4
# 允许发送的女士分值, 大于等于才能发送
OVERVALUE=0
# 会员库对应表名后缀
DBPOSTFIX=ru

#LD
[DB_3]
# 女士库ip
DBHOST=192.168.8.177
# 女士库端口
DBPORT=3306
# 女士库用户名
DBUSER=ld_dbu_latamdate
# 女士库密码
DBPASS=sg94Y&k3f8)e5P
# 女士库数据名字
DBNAME=latamdate_website
# 女士库连接池数目
MAXDATABASETHREAD=1
# 站点Id
SITEID=5
# 允许发送的女士分值, 大于等于才能发送
OVERVALUE=0
# 会员库对应表名后缀
DBPOSTFIX=ld